.products-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .products-page__header {
    text-align: center;
    margin-bottom: 2rem;
  }
  
  .products-page__header h1 {
    font-size: 3rem;
  }
  
  .products-page__header p {
    font-size: 1.5rem;
  }
  